<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Scoala de Soferi</title>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <form class="form" action="/login" method="POST">
      <h2>Login - Scoala de Soferi</h2>
      <span class="input-span">
        <label for="username" class="label">username</label>
        <input type="text" name="username" id="username" required />
      </span>
      <span class="input-span">
        <label for="password" class="label">password</label>
        <input type="password" name="password" id="password" required />
      </span>
      <span class="span"><a href="/reset">Forgot password?</a></span>
      <input class="submit" type="submit" value="Log in" />
      <span class="span">Don't have an account? <a href="/signup">Sign up</a></span>
    </form>
  </body>
</html>
